---
- name: Enabling EPEL Repository on RHEL based systems
  yum:
    name: epel-release
    state: latest
  when: ansible_distribution in ['CentOS', 'RedHat', 'Rocky', 'AlmaLinux']

- name: Enabling VLC Repository on Rhel based system
  yum_repository:
    name: rpmfusion-free-updates
    description: RPM Fusion for EL 7 - Free - Updates
    baseurl: http://download1.rpmfusion.org/free/el/updates/7/$basearch/
    gpgcheck: no
  when: ansible_distribution in ['CentOS', 'RedHat', 'Rocky', 'AlmaLinux']

- name: Enable Docker Repository on RHEL based
  yum_repository:
    name: docker-ce
    description: RPM Fusion for Docker
    baseurl: https://download.docker.com/linux/centos/$releasever/$basearch/stable
    gpgcheck: no
  when: ansible_distribution in ['CentOS', 'RedHat', 'Rocky', 'AlmaLinux']

- name: Ensure required packages are installed for Debian or Ubuntu
  apt:
    name: 
      - apt-transport-https
      - gnupg2
      - ca-certificates
      - curl
      - lsb-release
    state: present
    update_cache: true
  when: ansible_distribution in ['Debian', 'Ubuntu']

- name: Create keyrings directory for Debian or Ubuntu
  file:
    path: /usr/share/keyrings
    state: directory
    mode: '0755'
  when: ansible_distribution in ['Debian', 'Ubuntu']

- name: Download Docker GPG key for Debian or Ubuntu
  get_url:
    url: https://download.docker.com/linux/ubuntu/gpg
    dest: /etc/apt/keyrings/docker.asc
    mode: '0644'
  when: ansible_distribution in ['Debian', 'Ubuntu']

- name: Add Docker repository to apt sources for Debian or Ubuntu
  copy:
    dest: /etc/apt/sources.list.d/docker.sources
    content: |
      Types: deb
      URIs: https://download.docker.com/linux/ubuntu
      Suites: {{ ansible_facts.lsb.codename | default(ansible_facts.distribution_release) }}
      Components: stable
      Signed-By: /etc/apt/keyrings/docker.asc
    mode: '0644'
  when: ansible_distribution in ['Debian', 'Ubuntu']
- name: Final update of apt cache
  apt:
    update_cache: yes
  when: ansible_distribution in ['Debian', 'Ubuntu']
